* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background: #f3f6f9;
    color: #1f2937;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    margin-top: 30px;
    padding: 12px;
    background: #0b1f3a;
    color: white;
    border-left: 5px solid #2f80ed;
    border-radius: 8px;
}

label {
    display: block;
    max-width: 600px;
    margin: 14px auto 6px;
    font-weight: bold;
}

input {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 14px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: white;
}

button {
    background: #0b1f3a;
    color: white;
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    padding: 16px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

#result {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background: white;
    border-radius: 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

#result p {
    padding: 12px;
    margin: 8px 0;
    background: #f7f7f7;
    border-radius: 8px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 14px;
}

th,
td {
    padding: 10px 6px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background: #222;
    color: white;
}

@media (max-width: 600px) {
    body {
        padding: 12px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 19px;
    }

    #result {
        padding: 12px;
        overflow-x: auto;
    }

    table {
        min-width: 600px;
    }
}
/* Card Style */
h2 {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#result h2 {
    margin-top: 25px;
}

input:focus {
    outline: none;
    border: 2px solid #2f80ed;
    box-shadow: 0 0 8px rgba(47, 128, 237, 0.25);
}

button:hover {
    opacity: 0.9;
    transform: translateY(-1px);
}

button {
    transition: 0.2s;
}
